<h1>Howdy</h1>

<form>
 <label for="buffalo">Enter a number</label>
 <input id="buffalo" type="text" placeholder="What number do you want to square?" name="number">

 <button>Calculate square</button>
</form>